* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #ffffff !important;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 15px;
}

.enlace {
  position: relative;
}

footer {
  z-index: 999;
  height: 210px;
  background: rgb(0, 172, 193);
  width: 100%;
  color: #fff;
}

.contenido-footer {
  text-align: center;
  height: 150px;
  width: auto;
}
.contenido-footer h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-size: 14px;
}

.redes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.redes li {
  text-decoration: none;
  color: #fff;
}
.redes a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  box-sizing: border-box;
  background: rgb(0, 172, 193);
  width: 100%;
  padding: 2px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.iconosfooter {
  display: flex;
  justify-content: space-between;
  width: 30px;
  margin: 15px;
}

.contenedor-texto {
  font-family: "Roboto", sans-serif;
  display: inline;
  text-align: center;
}
.contenedor-texto a {
  margin-top: 15px;
}
.contenedor-texto h1 {
  font-size: 52px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #264653;
}
.contenedor-texto h2 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #264653;
}
.contenedor-texto p {
  text-align: center;
}

.contenedor-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.contenedor1 img {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.img-index {
  width: 100%;
  height: auto;
}

.fondocontacto {
  position: relative;
  background-image: url(../imagenes/fondo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

form {
  width: 280px;
  margin: auto;
  background: rgba(0, 171, 193, 0.205);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 45px;
  border-radius: 8px;
}

.h2 {
  color: #00acc1;
  text-transform: capitalize;
  text-align: center;
  box-sizing: border-box;
  border: solid 2px rgb(77, 67, 67);
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 8px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.button {
  color: rgb(3, 3, 3);
  position: relative;
  float: right;
  font-weight: 200;
  font-size: large;
  background: none;
  border: solid 2px;
  border-radius: 7px;
}
.button:hover {
  cursor: pointer;
  background-color: #2A9D8F;
}

.sobremi {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-sobremi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  position: relative;
}
.contenedor-sobremi img {
  position: relative;
  display: flex;
  height: 300px;
  width: 350px;
  border-radius: 7px;
  padding: 1px;
  margin-left: 10px;
}

.texto-imagen {
  margin: 5px;
  border: solid 2px;
  border-radius: 8px;
}
.texto-imagen p {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin: 2px;
}
.texto-imagen h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
}

.formulario {
  position: relative;
  line-height: 20px;
  border: 1px solid transparent;
  border-bottom-color: #00acc1;
  padding: 5px;
  margin-top: 10px;
  outline: none;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.formulario:focus {
  outline: none;
  padding: 10px 10px;
  border-radius: 1rem;
  border-color: #7a9cc6;
}
.formulario:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formulario:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formulario:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.formulario::-moz-placeholder {
  color: rgba(6, 210, 236, 0.685);
}
.formulario:-ms-input-placeholder {
  color: rgba(6, 210, 236, 0.685);
}
.formulario::placeholder {
  color: rgba(6, 210, 236, 0.685);
}

input:hover {
  outline: none;
  padding: 10px 10px;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.formulario-content {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: rgb(0, 172, 193);
  position: relative;
}
.nav .nav-header {
  position: relative;
  bottom: 35%;
}
.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
.nav .nav-btn {
  display: none;
}
.nav .nav-links {
  display: inline;
  float: right;
  text-transform: uppercase;
}
.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f7f3e3;
}
.nav .nav-links a:hover {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav #nav-check {
  display: none;
}

#cards_landscape_wrap-2 {
  text-align: center;
}
#cards_landscape_wrap-2 .container {
  padding-top: 5px;
  padding-bottom: 20px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
  background: #FFFFFF;
  margin-top: 50px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

@media (max-width: 600px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav .nav-btn label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav #nav-check:checked ~ .nav-btn label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(0, 172, 193);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav .nav-links a {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */